/* 
 * Gdut-Course
 * Created by brenner 2019-12-08
*/

/* css reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }
a { color: inherit; }

header {
    background-image: linear-gradient(to left, #0ba360 0%, #3cba92 100%);
    color: white;
    font-weight: bold;
    padding-bottom: 60px;
}

/* header第一行 */
.header-row-1 {
    height: 100px;
    line-height: 100px;
    padding: 0 80px;
    font-size: 24px;
    letter-spacing: 4px;
    overflow: hidden;
}
.header-row-1 .left {
    float: left;
}
.header-row-1 .right {
    float: right;
    letter-spacing: 1px;
    margin-left: 16px;
    cursor: pointer;
}

/* header中心标题 */
.title-wrap {
    text-align: center;
    max-width: 660px;
    margin: 0 auto;
}
.title-cn {
    font-size: 32px;
    letter-spacing: 4px;
    text-shadow: -2px 2px 4px #555;
    padding-bottom: 30px;
}
.subtitle {
    letter-spacing: 2px;
    padding-bottom: 10px;
}

/* main部分-按钮 */
.btn-wrap {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    color: #555;
}
.btn {
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 20px;
    font-weight: bold;
}
.btn:hover {
    background-color: #ddd;
    cursor: pointer;
}
.btn-svg {
    vertical-align: middle;
}
.btn-wrap svg, .btn-wrap span {
    pointer-events: none; /* 屏蔽此处svg，span的点击事件 */
}

/* main部分-内容 */
.container {
    width: 70%;
    margin: 60px auto;
    border: 1px solid #ddd;
}
.container-table {
    width: 100%;
    font-size: 20px;
}
.container-table tr {
    height: 80px;
    border-bottom: 1px solid #ddd;
}
.container-table tr:hover {
    background-color: #ddd;
}
.container-table .col-1 {
    width: 100px;
    color: rgb(255, 127, 36);
    padding-left: 20px;
}

/* footer部分 */
.green_monster {
    position: fixed;
    bottom: 20px;
    right: 30px;
} 
.green_monster img {
    width: 192px;
    height: 192px;
}

/* 弹层 */
.pop {
    width: 310px;
    height: 178px;
    padding: 10px 15px;
    background-color: #fff;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, .7);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.pop_item1 {
    float: left;
}
.pop_item2 {
    float: right;
}
.pop img {
    width: 128px;
    height: 128px;
    margin: 6px;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}